@model EntityLayer.Concrete.Vacancy
@{
    ViewBag.Title = "AddVacancy";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Style/AdminPanel/adminpanelevents.css" rel="stylesheet" />
@using (Html.BeginForm("AddVacancy", "Admin", FormMethod.Post))
{
    <section id="eventform">
        <div class="title-caption">
            <input type="text" placeholder="Başlıq" name="Title">
            <textarea name="Description" id="" cols="30" rows="10" placeholder="Haqqında"></textarea>
        </div>
        <div class="details">
            <div class="d-flex flex-column">
                <label for="eventdeadlinetime">Vakansiya üçün son qeydiyyat tarixi</label>
                <input id="eventdeadlinetime" type="datetime-local" name="Deadline">
            </div>
            <div class="d-flex flex-row">
                @Html.CheckBoxFor(x=>x.Primary, new {@id = "setprimary" })
                <label for="setprimary" class="m-lg-1">Vakansiyanı önə çək</label>
            </div>
            <select name="Department" id="">
                <option hidden selected>Heyət</option>
                <optgroup label="Departamentlər">
                    <option value="Organizer">Təşkilati işlər departamenti</option>
                    <option value="HR">İnsan Resursları departamenti</option>
                    <option value="PR">İctimaiyyətlə əlaqələr departamenti</option>
                    <option value="IT">İnformasiya Texnologiyaları departamenti</option>
                    <option value="SMM">SMM departamenti</option>
                    <option value="WWM">Üzvlərlə iş departamenti</option>
                    <option value="WWF">Fakültələrlə iş departamenti</option>
                    <option value="ICD">Beynəlxalq Əməkdaşlıq departamenti</option>
                    <option value="Security">Nəzarət Təftiş Departamenti</option>
                </optgroup>
                <optgroup label="Fakültələr">
                    <option value="FS-Digital Economy">Rəqəmsal İqtisadiyyat</option>
                    <option value="FS-Russian Economy">Rus İqtisad Məktəbi</option>
                    <option value="FS-Business">Biznes və Menecement</option>
                    <option value="FS-Sabah">Sabah</option>
                    <option value="FS-ISE">Beynəlxalq İqtisadiyyat Məktəbi</option>
                    <option value="FS-Design">Dizayn</option>
                    <option value="FS-Finance">Maliyyə və Mühasibat</option>
                    <option value="FS-TUDIFAK">Türk Dünyası İqtisad fəkültəsi</option>
                    <option value="FS-Engineering">Mühəndislik</option>
                    <option value="FS-Economy">İqtisadiyyat və idarəetmə</option>
                    <option value="FS-QETM">QƏTM</option>
                </optgroup>
            </select>
        </div>
    </section>
    <div class="confirm">
        <button class="action-button success">Təsdiq et</button>
    </div>
}

<script>
    $(document).ready(function () {

        $("#eventform>div").height($("#eventform").height());
    });
</script>

