@using EntityLayer.Concrete
@using BusinessLayer.Concrete;
@using DataAccessLayer.EntityFramework;
@model List<ActivityPoints>
@{
    UserManager UserM = new UserManager(new EfUserDAL());}
<link href="~/Style/AdminPanel/ActivityPoint144.css" rel="stylesheet" />


<section id="activity">

    @if (Model.Count == 0)
    {
        <p class="empty">Aktivlik barədə məlumat yoxdur</p>
    }
    else
    {
        foreach (var item in Model)
        {
            string point;
            if (item.Point > 0)
            {
                point = "+" + item.Point.ToString();
            }
            else
            {
                point = item.Point.ToString();
            }
            <div class="activitypoint">
                <p class="date">@item.Date.ToString("dd MMM")</p>
                <p class="text">@item.Activity</p>

                <p class="point">@point</p>
            </div>
        }
    }
</section>
