@using EntityLayer.Concrete
@model List<Announce>
@{
    ViewBag.Title = "Announces";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<link href="~/Style/Member/Vacancies156.css" rel="stylesheet" />

<style>

    aside ul #announcespage {
        border-radius: 8px;
        background-color: #006bce;
    }

        aside ul #announcespage p, aside ul #announcespage i {
            color: white;
        }

        aside ul #announcespage:hover {
            padding-left: 0;
        }

            aside ul #announcespage:hover p, aside ul #announcespage:hover i {
                color: white;
            }
    p.caption {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        white-space: none;
        text-overflow: ellipsis;
    }
</style>
<div class="vacancies" id="all">
    @foreach (var item in Model)
    {
        <section class="vacancy">
            <p class="title">@item.Title</p>
            <p class="caption">@item.Text</p>
            <div class="footer d-flex w-100 justify-content-end">
                <!--Writer data gorunsun-->
                <!--Writer data gorunsun-->
                <!--Writer data gorunsun-->
                <button data-id="@item.AnnounceID" class="action-button primary details">Ətraflı</button>
            </div>
        </section>
    }
</div>

<script>
    $(".details").click(function () {
        let announceid = $(this).attr("data-id");
        $.ajax({
            url: "/Member/AnnounceByID",
            data: { announceid: announceid },
            success: function (response) {
                console.log(response);
            }
        });
    });
</script>
