@using EntityLayer.Concrete
@model List<Announce>

<section class="incomings" id="news">
    <h2>Elanlar</h2>
    <div class="icon-list">
        <div class="icon">
            <i class="fas  fa-bullhorn"></i>
        </div>
        <div class="incomings-list">
            <div class="inform">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores itaque, praesentium
                    architecto repellat laborum odio, suscipit aliquid mollitia inventore reprehenderit
                    porro vitae fugit dolore corporis magni, dignissimos recusandae maxime illum dolorum
                    similique facilis atque. Odio soluta eius reiciendis delectus animi dicta, suscipit,
                    totam cupiditate dolorum repudiandae ipsa sunt sequi ratione vero aliquid ex veritatis?
                    Dignissimos eius quibusdam mollitia alias consequuntur.
                </p>
                <p class="date">29.10.2023</p>
            </div>
            <div class="inform">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores itaque, praesentium
                    architecto repellat laborum odio, suscipit aliquid mollitia inventore reprehenderit
                    porro vitae fugit dolore corporis magni, dignissimos recusandae maxime illum dolorum
                    similique facilis atque. Odio soluta eius reiciendis delectus animi dicta, suscipit,
                    totam cupiditate dolorum repudiandae ipsa sunt sequi ratione vero aliquid ex veritatis?
                    Dignissimos eius quibusdam mollitia alias consequuntur.
                </p>
                <p class="date">17.10.2023</p>
            </div>
            <div class="inform">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores itaque, praesentium
                    architecto repellat laborum odio, suscipit aliquid mollitia inventore reprehenderit
                    porro vitae fugit dolore corporis magni, dignissimos recusandae maxime illum dolorum
                    similique facilis atque. Odio soluta eius reiciendis delectus animi dicta, suscipit,
                    totam cupiditate dolorum repudiandae ipsa sunt sequi ratione vero aliquid ex veritatis?
                    Dignissimos eius quibusdam mollitia alias consequuntur.
                </p>
                <p class="date">19.09.2023</p>
            </div>
        </div>
    </div>

    <div class="viewall">
        <a href="#">Hamısına bax <i class="fas fa-arrow-right"></i></a>
    </div>
</section>
