
@{
    ViewBag.Title = "Certificates";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
<link href="~/Style/Profile1.css" rel="stylesheet" />

<style>
    h2 {
        width: 100%;
        text-align: center;
        margin-top: 12px;
    }

    aside ul #certificatespage {
        border-radius: 8px;
        background-color: #006bce;
    }

        aside ul #certificatespage p, aside ul #certificatespage i {
            color: white;
        }

        aside ul #certificatespage:hover {
            padding-left: 0;
        }

    aside ul #certificatespage:hover p, aside ul #certificatespage:hover i {
        color: white;
    }
</style>

<section id="activity">
    <p class="empty">Tədbir və vörkşoplardan əldə etdiyiniz sertifikatlar burada görünəcək.</p>
</section>