@model EntityLayer.Concrete.User
@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<link href="~/Style/Member/Settings19.css" rel="stylesheet" />
<link href="~/Style/Loader.css" rel="stylesheet" />

<div class="editdetails">
    <h3>Əlaqə məlumatları</h3>
    <div class="data-field">
        <label for="LastPass">Hazırki şifrə</label>
        <input id="LastPass" type="text" class="daisy">
    </div>
    <div class="data-field">
        <label for="NewPass">Yeni şifrə</label>
        <input id="NewPass" type="text" class="daisy">
    </div>
    <div class="data-field">
        <label for="NewPassAgain">Yeni şifrə təkrar</label>
        <input id="NewPassAgain" type="text" class="daisy">
    </div>
    <p id="errormsg" style="color: #ff331f;"></p>
    <button id="succesbtn" class="action-button primary">Təsdiq et</button>
</div>

<div id="loader" class="w-100 align-items-center justify-content-center" style="height:80vh;">
    <svg class="pl" width="100%" height="80vh" viewBox="0 0 240 240">
        <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
        <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
        <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
        <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
    </svg>
</div>

<script>
    $(document).ready(function () {
        $("#loader").css("display", "none");
    });
    $("#succesbtn").click(function () {
        const LastPass = $("#LastPass").val();
        const NewPass = $("#NewPass").val();
        const NewPassAgain = $("#NewPassAgain").val();
        if (NewPass !== NewPassAgain) {
            $("#NewPass").css("border-color", "#ff331f");
            $("#NewPassAgain").css("border-color", "#ff331f");
            $("#errormsg").text("*Daxil edilən şifrələr fərqlidir");
        }
        else {
            $("#loader").css("display", "flex");
            $(".editdetails").css("display", "none");
            $.ajax({
                type: "POST",
                url: "/Member/UpdatePassword",
                data: {
                    password: LastPass,
                    newpassword: NewPass
                },
                success: function (response) {
                    if (response === "Success") {
                        window.location.href = '/Member/Settings';
                    }
                    else if (response === "Wrong password") {
                        $("#loader").css("display", "none");
                        $(".editdetails").css("display", "block");
                        $("#errormsg").text("Hazırki şifrəniz yanlışdır");
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }
    });
</script>