@model EntityLayer.Concrete.User
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<link href="~/Style/Member/Settings19.css" rel="stylesheet" />
<h4>Parametrlər</h4>
<ul id="editprofile">
    <li class="settingspage">
        <a href="/Member/PersonalDetails">
            <i class="fas fa-user-edit"></i>
            <p>Şəxsi məlumatlar</p>
            <i class="fas fa-chevron-right"></i>
        </a>
    </li>
    <li class="settingspage">
        <a href="/Member/EducationalDetails">
            <i class="fas fa-book"></i>
            <p>Təhsil məlumatları</p>
            <i class="fas fa-chevron-right"></i>
        </a>
    </li>
    <li class="settingspage">
        <a href="/Member/ContactDetails">
            <i class="fas fa-phone-alt"></i>
            <p>Əlaqə məlumatları</p>
            <i class="fas fa-chevron-right"></i>
        </a>
    </li>
    <li class="settingspage">
        <a href="/Member/EditImage">
            <i class="fas fa-image"></i>
            <p>Şəkili dəyiş</p>
            <i class="fas fa-chevron-right"></i>
        </a>
    </li>
    <li class="settingspage">
        <a href="/Member/EditPassword">
            <i class="fas fa-key"></i>
            <p>Şifrəni dəyiş</p>
            <i class="fas fa-chevron-right"></i>
        </a>
    </li>
</ul>

<script>
    let imgpopupopen = false;
    const imgpopup = document.getElementById('image-validation');
    $("#btnchangeimage").click(function () {
        $("#change-image").css("display", "flex");
        setTimeout(() => { imgpopupopen = true; }, 200);
    });

    $("#ProfilePhoto").change(function () {
        const errormessage = $("p#imageerror");
        const reader = new FileReader();
        const input = this.files[0];
        if (input.size > 2097152) {
            errormessage.text("*Faylın ölçüsü 2MB-dan çox ola bilməz");
            errormessage.removeClass("success");
            errormessage.addClass("error");
            return;
        }
        reader.readAsDataURL(input);
        reader.onload = function (e) {
            const image = new Image();
            image.src = e.target.result;
            console.log(reader);

            image.onload = function () {
                const width = this.width;
                const height = this.height;

                if (width === height) {
                    errormessage.text(input.name);
                    errormessage.removeClass("error");
                    errormessage.addClass("success");
                    return;
                } else {
                    errormessage.text("*Şəklin ölçüləri 1:1 nisbətində olmalıdır");
                    errormessage.removeClass("success");
                    errormessage.addClass("error");
                    return;
                }
            };
        }
    });

    let passpopupopen = false;
    const passpopup = document.getElementById('password-validation');

    $("#image-validation button").click(function () {
        const errormessage = $("p#imageerror");
        if (errormessage.hasClass("success")) {
            $("#change-image").css("display", "none");
            setTimeout(() => { imgpopupopen = false; }, 200);

            var formData = new FormData();
            var fileInput = document.getElementById('ProfilePhoto');

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Member/UpdateImage/', true);

            formData.append('imageFile', fileInput.files[0]);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    console.log(xhr.responseText);
                    if (xhr.responseText === "Success") {
                        alert("Şəkliniz uğurla yükləndi.")
                    }
                }
            };

            xhr.send(formData);
        }
    });
    $("#btnchangepassword").click(function () {
        $("#change-password").css("display", "flex");
        setTimeout(() => { passpopupopen = true; }, 200);
    });

    $("#password-validation button").click(function () {
        const oldpass = $("#oldpass").val();
        const pass1 = $("#newpass").val();
        const pass2 = $("#newpass2").val();
        const error = $("#passerror");
        if (oldpass === "") {
            error.text("*Köhnə şifrəni yazın.");
            error.removeClass("success");
            error.addClass("error");
            return;
        }
        if (pass1 === "" || pass2 === "") {
            error.text("*Şifrələr boş qalmamalıdır.");
            error.removeClass("success");
            error.addClass("error");
            return;
        }
        if (pass1 !== pass2) {
            error.text("*Daxil edilən yeni şifrələr eyni deyil.");
            error.removeClass("success");
            error.addClass("error");
            return;
        }
        if (pass1.length < 8) {
            error.text("*Daxil edilən şifrə minimum 8 simvoldan ibarət olamlıdır.");
            error.removeClass("success");
            error.addClass("error");
            return;
        }
        $("#change-password").css("display", "none");
        setTimeout(() => { passpopupopen = false; }, 200);

        $.ajax({
            type: 'POST',
            url: "/Member/UpdatePassword/",
            data: {
                password: oldpass,
                newpassword: pass1
            },
            dataType: 'json',
            success: function (result) {
                if (result === "Wrong password") {
                    alert("Daxil etdiyiniz şifrə yanlışdır");
                }
                else if (result === "Success") {
                    alert("Şifrəniz uğurla dəyişdirildi");
                }
            }
        });
    });


    $(document).click(function (event) {
        if (passpopupopen) {
            if (!passpopup.contains(event.target)) {
                $("#change-password").css("display", "none");
                setTimeout(() => { passpopupopen = false; }, 200);
            }
        }
        if (imgpopupopen) {
            if (!imgpopup.contains(event.target)) {
                $("#change-image").css("display", "none");
                setTimeout(() => { imgpopupopen = false; }, 200);
            }
        }
    });
</script>

