
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M3Y25VW1RJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-M3Y25VW1RJ');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rəqəmsal Kabinet</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9025664961128837"
            crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="~/Images/new Logo - white.png" />
    <link href="~/Style/Login875.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9025664961128837"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <main>
        <section id="resetpass">
            <div class="logos">
                <a href="/Home.html">
                    <img src="/Images/new Logo.png" alt="">
                </a>
                <img src="/Images/unec logo png.png" alt="">
            </div>
            <p>Şifrənizi yeniləyin</p>
            <div id="form">
                <input type="hidden" id="userid" value="@ViewBag.userid" />
                <input type="hidden" id="tokenid" value="@ViewBag.token" />
                <div class="col-3">
                    <input id="pass1" class="effect-1" type="password" placeholder="Yeni şifrə" required>
                    <span class="focus-border"></span>
                    <i class="fas fa-key"></i>
                </div>
                <div class="col-3">
                    <input id="pass2" class="effect-1" type="password" placeholder="Təkrar şifrə" required>
                    <span class="focus-border"></span>
                    <i class="fas fa-key"></i>
                </div>
                <p id="error"></p>
                <div id="buttons">
                    <button id="reset">Şifrəni təyin et</button>
                </div>
            </div>
        </section>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        var height = $(window).height();
        $("section").css("height", height);
    </script>

    <script>
        $("#reset").click(function () {
            const pass1 = $("#pass1").val();
            const pass2 = $("#pass2").val();
            const userid = Number($("#userid").val());
            const tokenid = $("#tokenid").val();
            const error = $("#error");

            if (pass1 === "" || pass2 === "") {
                error.text("*Şifrələr boş qalmamalıdır.");
                error.removeClass("success");
                error.addClass("error");
                return;
            }
            if (pass1 !== pass2) {
                error.text("*Daxil edilən yeni şifrələr eyni deyil.");
                error.removeClass("success");
                error.addClass("error");
                return;
            }
            if (pass1.length < 8) {
                error.text("*Daxil edilən şifrə minimum 8 simvoldan ibarət olamlıdır.");
                error.removeClass("success");
                error.addClass("error");
                return;
            }
            if (pass1 === pass2) {
                $.ajax({
                    type: 'Post',
                    url: '/Login/NewPassword',
                    data: {
                        token: tokenid,
                        userid: userid,
                        password: pass1
                    },
                    success: function (result) {
                        if (result === "success") {
                            window.location.href = "/Login/UserLogin";
                        }
                        else if (result === "Used") {
                            $("#error").text("*Bu token daha əvvəl istifadə olunub.");
                        }
                        else if (result === "Gone") {
                            $("#error").text("*Bu tokenin istifadə müddəti bitmişdir.");
                        }
                        else if (result === "Wrong data") {
                            $("#error").text("*Serverdə xəta yaranmışdır. Daha sonra təkrar yoxlayın.");
                        }
                    }
                });
            }
            else {
                $("#error").text("*Daxil edilən şifrələr eyni deyil.");
            }
        });
    </script>

</body>

</html>
