body {
    background-color: #f1f0f6 !important;
}

@media only screen and (min-width: 601px) {
    #vacancies {
        margin: 25px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

        #vacancies h2 {
            background: linear-gradient(90deg, rgb(0, 107, 206) 0%, rgb(19, 24, 80) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #vacancies #addvacancy {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border: 1px solid #fff;
            padding: 20px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
        }

            #vacancies #addvacancy i {
                font-size: 300%;
                margin-bottom: 6px;
            }

            #vacancies #addvacancy p {
                font-size: 20px;
            }

        #vacancies .vacancy {
            justify-content: space-between;
            align-items: flex-start;
            width: 20%;
            padding: 20px;
            margin: 10px;
        }

            #vacancies .vacancy img {
                width: 60px;
                height: 60px;
            }

            #vacancies .vacancy p.title {
                width: 100%;
                font-weight: 500;
                font-size: 22px;
                text-align: left;
                color: #212529;
                margin-top: 0;
            }

            #vacancies .vacancy .footer {
                align-items: center;
                flex-direction: row;
                width: 100%;
            }

                #vacancies .vacancy .footer p {
                    margin: 0;
                }

                #vacancies .vacancy .footer a:hover {
                    color: white;
                }
}

@media only screen and (max-width: 600px) {
    #vacancies {
        margin: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

        #vacancies h2 {
            background: linear-gradient(90deg, rgb(0, 107, 206) 0%, rgb(19, 24, 80) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #vacancies #addvacancy {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border: 1px solid #fff;
            padding: 20px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
        }

            #vacancies #addvacancy i {
                font-size: 300%;
                margin-bottom: 6px;
            }

            #vacancies #addvacancy p {
                font-size: 20px;
            }

        #vacancies .vacancy {
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            padding: 20px;
            margin: 10px 0;
        }

            #vacancies .vacancy img {
                width: 60px;
                height: 60px;
            }

            #vacancies .vacancy p.title {
                width: 100%;
                font-weight: 500;
                font-size: 22px;
                text-align: left;
                color: #212529;
                margin-top: 0;
            }

            #vacancies .vacancy .footer {
                align-items: center;
                flex-direction: row;
                width: 100%;
            }

                #vacancies .vacancy .footer p {
                    margin: 0;
                }

                #vacancies .vacancy .footer a:hover {
                    color: white;
                }
}
/*# sourceMappingURL=Vacancies.css.map */
