@using EntityLayer.Concrete
@model List<News>
<aside id="suggests">
    @foreach (var item in Model)
    {
        <div class="news">
            <a href="/News/NewsDetails/@item.NewsID">
                <img src="@item.NewsImage" alt="">
                <div class="details">
                    <p class="date"><i class="fas fa-calendar-day"></i> @item.NewsCreated.ToString("dd MMMM yyyy")</p>
                    <p class="view"><i class="fas fa-eye"></i> @item.Reading baxış</p>
                </div>
                <p class="title">@item.NewsTitle</p>
            </a>
        </div>
    }

    
</aside>
